# OSX
#
.DS_Store

# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
**/.xcode.env.local

# React Native
android/.gradle/
android/app/build/
android/build/
ios/build/
ios/Pods/
ios/*.xcworkspace
ios/*.xcodeproj/xcuserdata/
ios/*.xcodeproj/project.xcworkspace/
ios/*.xcuserdatad/

# Entornos/Builds
.env
.env.local
.env.development
.env.production
.env.test
/build/
/dist/
*.apk
*.aab
*.ipa
*.keystore
*.jks
*.key
*.p12
*.mobileprovision
*.pem

# Android/IntelliJ
#
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/
*.keystore
!debug.keystore
.kotlin/

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# JavaScript/TypeScript
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
coverage/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig
.history/

# Bundle artifact
*.jsbundle

# Ruby / CocoaPods
**/Pods/
/vendor/bundle/

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*

# testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
